
/* .alignment {
  text-align: right;
  padding-right: 5rem;
} */

.headerContainer {
  min-width: 264px;
  height: 96px;
  padding: 24px;
}

.navRight {
  float: right;
}

.navLeft {
  float: left;
}