.alignment {
  text-align: center;
  padding-top: 16px;
}

.row {
  display: flex;
  height: 1350px;
  flex-direction: column;
}


.imgContainer {
  position: relative;
  /* border: 1px solid #bdbdbd; */
  border: 2px solid #bdbdbd;
  border-left: none;
  flex: 1;
}

.imgContainer:last-child {
  border-right: none;
}

.imgContainer img {
  object-position: center 0%;
  transition: object-position 4s;
}

.imgContainer:hover img {
  object-position: center 125%;
}

.overlay {
  position: absolute;
  top: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  background-color: white;
  border-top: 1px solid #bdbdbd;
  transition: opacity 1s;
}

.imgContainer:hover .overlay {
  opacity: .95;
}

.overlay > * {
  color: black;
  z-index: 100;
  font-weight: bold;
  padding-top: 4px;
}

/* Destkop specific */


@media screen and (min-width:768px) {
  .row {
    flex-direction: row;
    height: 350px;
  }
}

@media screen and (min-width:900px) {
  .row {
    height: 450px;
  }
}
