



/* <div id="portfolio-grid" class="portfolio-grid isotope" style="position: relative; overflow: hidden; height: 56px;">

            
<!-- Featured Clients -->
                                                                                  <div class="portolio-item featured isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px); width: 33.1%;">
      <a href="clients/disneyland-hotel">
      <div class="portfolio-img"><img src="http://www.rileydra.com/clients/disneyland-hotel/thumb.jpg" alt=""></div>
      <div class="portfolio-overlay"></div>
      <div class="portfolio-details">
                                <h5>Disneyland<br><small>Hotel</small></h5>
      </div>
      </a>
    </div>
                                            <div class="portolio-item featured isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(75px, 0px, 0px); width: 33.1%;">
      <a href="clients/grand-californian-hotel">
      <div class="portfolio-img"><img src="http://www.rileydra.com/clients/grand-californian-hotel/thumb.jpg" alt=""></div>
      <div class="portfolio-overlay"></div>
      <div class="portfolio-details">
                                <h5>Disney Grand <br><small>Californian Hotel </small></h5>
      </div>
      </a>
    </div>
                                                                      <div class="portolio-item featured isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(150px, 0px, 0px); width: 33.1%;">
      <a href="clients/portofino-bay-hotel">
      <div class="portfolio-img"><img src="http://www.rileydra.com/clients/portofino-bay-hotel/thumb.jpg" alt=""></div>
      <div class="portfolio-overlay"></div>
      <div class="portfolio-details">
                                <h5>Portofino <br><small>Bay Hotel </small></h5>
      </div>
      </a>
    </div>
                                                                                                                      
</div> */